body
{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, rgb(130, 98, 160), rgb(101, 89, 209));
}

.message-container
{
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
}

.message-container h2
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message-container input
{
    border: none;
    outline: none;
    width: 70%;
    background-color: inherit;
    color: grey;
    border-bottom: 2px solid #30B1CA;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
}

.message-container button
{
    border: none;
    cursor: pointer;
    background-color: #FF2222;
    color: #3F3F3F;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
}

.message-container button:hover
{
    transition: .3s;
    background-color: #FE6E6E;
}

.message
{
    margin: auto;
    text-align: center;
    width: 90%;
    border-top: 1px solid black;
    padding: 10px 20px 10px 20px;
    word-wrap: break-word;
}